<h3 class="text-center">{{Titulo}} <small>{{TituloAccionABMC[AccionABMC]}}</small></h3>

<div class="row-justify-content-center m-3" *ngIf="AccionABMC == 'L'">
  <button type="button" class="btn btn-primary" (click)="Agregar()">
      <span class="fas fa-plus"> </span> 
      Agregar
    </button>
</div>

<div id="divTablaResultados" *ngIf="AccionABMC == 'L'">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th class="text-center">ID Empresa</th>
        <th class="text-center">Razon Social</th>
        <th class="text-center">Fecha Fundacion</th>
        <th class="text-center">Cantidad Empleados</th>
        <th class="text-center text-nowrap">Acciones</th>
        </tr>
      </thead>
      
      <tbody>
        <tr *ngFor="let emp of Lista">
          <td class="text-center">{{emp.IdEmpresa}}</td>
          <td class="text-center">{{emp.RazonSocial | uppercase}}</td>
          <td class="text-center">{{emp.FechaFundacion | date:'dd/MM/yyyy'}}</td>
          <td class="text-center">{{emp.CantidadEmpleados}}</td>
          <td class="text-center text-nowrap">
            <button type="button" class="btn btn-sm btn-outline-primary" title="Consultar" (click)="Consultar(emp)">
              <span class="fas fa-eye"></span>
            </button>
            <button type="button" class="btn btn-sm btn-outline-primary" title="Modificar" (click)="Modificar(emp)">
              <span class="fas fa-pencil-alt"></span>
            </button>
            <button type="button" class="btn btn-sm btn-outline-danger" title="Eliminar" (click)="Eliminar(emp)">
              <span class="fas fa-times"></span>
            </button>
          </td>
        </tr>
      </tbody>
  </table>

<!-- Registro en Alta,Modificacion o Consulta -->
<form name='FormReg' *ngIf="AccionABMC != 'L'">
    <fieldset [disabled]="AccionABMC==='C'"> 

        <!--IdEmpresa-->
        <div class="form-group row">
            <label class="col-form-label col-sm-2 col-sm-offset-2" for="IdEmpresa">
                IdEmpresa <span class="text-danger">*</span>
            </label>
            <div class="col-sm-6">
                <input type="text" name="IdEmpresa" class="form-control" formControlName="IdEmpresa"/>
            </div>
        </div>

        <!--RazonSocial-->
        <div class="form-group row">
            <label class="col-form-label col-sm-2 col-sm-offset-2" for="RazonSocial">
                RazonSocial <span class="text-danger">*</span>
            </label>
            <div class="col-sm-6">
                <input type="text" class="form-control" formControlName="RazonSocial"/>
            </div>
        </div>

        <!--FechaFundacion-->
        <div class="form-group row">
            <label class="col-form-label col-sm-2 col-sm-offset-2">
                FechaFundacion <span class="text-danger">*</span>
            </label>
            <div class="col-sm-6">
                <input class="form-control" name="FechaFundacion" formControlName="FechaFundacion"/>
            </div>
        </div>

        <!--CantidadEmpleados-->
        <div class="form-group row">
            <label class="col-form-label col-sm-2 col-sm-offset-2" for="CantidadEmpleados">
                CantidadEmpleados <span class="text-danger">*</span>
            </label>
            <div class="col-sm-6">
                <input type="text" name="CantidadEmpleados" class="form-control" formControlName="CantidadEmpleados"/>
            </div>
        </div>
    </fieldset>

    <!-- Botones Grabar, Cancelar/Volver' -->
    <div class="row justify-content-center">
        <button type="button" class="btn btn-primary" (click)="Grabar()" *ngIf="AccionABMC == 'A' || AccionABMC == 'M'">
            <span class="fas fa-check"></span> Grabar
        </button>
        &nbsp;
        <button type="button" class="btn btn-warning" (click)="Volver()">
            <span class="fas fa-undo"></span> {{AccionABMC == 'A' || AccionABMC == 'M' ? 'Cancelar' : 'Volver'}}
        </button>
    </div>

    <!--texto: Revisar los datos ingresados...-->
    <div id="divMsjFormRegistro" class="row alert alert-danger" *ngIf="false">
        <span class="fas fa-exclamation-sign"></span>{{Mensajes['RD']}}
    </div>


</form>